/_REEL
/.plot
/.ruff_cache
/data
/datasets
/mem_prof
/tmp
/.umls
/.mem_prof
/.plot
/.db
/datasets
/.pubtor
/.models
/.docs

/test/scripts
/test/test_data

.DS_store

# Cache Folders
__pycache__/
/.venv
*.pyc
*.onnx


# Unzipped datasets (large, never commit)
/data_datasets
/data_datasets.zip
