joblib
numpy
pandas
psutil
scikit_learn
torch
transformers
sentence_transformers
faiss-cpu
lightgbm
umap-learn
fuzzywuzzy
python-Levenshtein
memory_profiler
biopython
git+https://github.com/kernelmachine/balanced-kmeans.git